# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Character Control/Library/metadata/ed/ede175ffcd697e742826ce6c362365c1.info
Character Control/Library/ShaderCache/1/10ed4e9629d5051d8f70a71500f71e86.bin
Character Control/Library/ShaderCache/4/4f349545645e3aa0b6b662f6ccfff14b.bin
Character Control/Library/ShaderCache/5/5ab0306ea87e501b658c78f461a4e98a.bin
Character Control/Library/ShaderCache/7/71eff87268d2fb40883eefc503cc3ad5.bin
Character Control/Library/ShaderCache/8/8dce925daa0c8b0dbde7076379f2e537.bin
Character Control/Library/ShaderCache/c/c863b52d196185113b09df287f1440f5.bin
Character Control/Library/ShaderCache/c/c9b014169ea619938bf4c66af2f3f5f9.bin
Character Control/Library/ShaderCache/e/e801c21403caef36df11db7cc35f8034.bin
Character Control/Library/ShaderCache/f/f1d56106ed578f6b79fa6481563cbf60.bin
Character Control/Library/ShaderCache/f/f6a73cdf0d4d475aae18d962af05f567.bin
Character Control/Library/metadata/0d/0d6c1eabf84601c43a295c046da0fe10
Character Control/Library/metadata/0d/0d6c1eabf84601c43a295c046da0fe10.info
Character Control/Library/metadata/0d/0d8f3b437ce55244c81dc4c32723ba36
Character Control/Library/metadata/0d/0d8f3b437ce55244c81dc4c32723ba36.info
Character Control/Library/metadata/40/4020f9f7ac57c344d87c6624e38c2c47
Character Control/Library/metadata/40/4020f9f7ac57c344d87c6624e38c2c47.info
Character Control/Library/metadata/52/52994efe1c973c140a4c15971c999e10
Character Control/Library/metadata/52/52994efe1c973c140a4c15971c999e10.info
Character Control/Library/metadata/64/64cf0e8b8dec4294fae69b8aedd99649
Character Control/Library/metadata/64/64cf0e8b8dec4294fae69b8aedd99649.info
Character Control/Library/metadata/a3/a3be27d1993b39142b27fc184bc32478
Character Control/Library/metadata/a3/a3be27d1993b39142b27fc184bc32478.info
Character Control/Library/metadata/a7/a74f9d07534862542860b1841cb5381e
Character Control/Library/metadata/a7/a74f9d07534862542860b1841cb5381e.info
Character Control/Library/metadata/aa/aa7021a55d5c65648b834c26a61adbc5
Character Control/Library/metadata/aa/aa7021a55d5c65648b834c26a61adbc5.info
Character Control/Library/metadata/b4/b4a31dc18ea73c842883b97ac69d23fd
Character Control/Library/metadata/b4/b4a31dc18ea73c842883b97ac69d23fd.info
Character Control/Library/metadata/c5/c5cd2db9891738248a7de012ed1ed03b
Character Control/Library/metadata/c5/c5cd2db9891738248a7de012ed1ed03b.info
Character Control/Library/metadata/d7/d71ffc08feafa5f4690ccd1967559398
Character Control/Library/metadata/d7/d71ffc08feafa5f4690ccd1967559398.info
Character Control/Library/metadata/da/da2c54d23d4ee864b91cfb14953c3837
Character Control/Library/metadata/da/da2c54d23d4ee864b91cfb14953c3837.info
Character Control/Library/metadata/e3/e3a628d9d87f5bd4aae98e3464da9f00
Character Control/Library/metadata/e3/e3a628d9d87f5bd4aae98e3464da9f00.info
Character Control/Library/metadata/ed/ede175ffcd697e742826ce6c362365c1
